.form-feed {
    width: 100%;
    margin-top: 48px;
    &-box {
        position: relative;
        input {
            width: 100%;
            margin: 2px;
            padding: 12px 14px;
            font-size: 16px;
            letter-spacing: 0.062rem;
            border: 1px solid #ccc;
            background: transparent;
            border-radius: 4px;
        }
        label {
            position: absolute;
            top: 0;
            left: 2px;
            padding: 12px 14px;
            margin: 2px;
            font-size: 16px;
            color: grey;
            pointer-events: none;
            transition: 0.2s;
        }
        input:focus ~ label, input:valid ~ label, input:not([value=""]) ~ label {
            top: -1.125rem;
            left: 10px;
            color: #1a73e8;
            font-size: 0.75rem;
            background-color: white;
            height: 10px;
            padding-left: 5px;
            padding-right: 5px;
        }
        input:focus {
            outline: none;
            border: 2px solid #1a73e8;
        }
    }
    &-checkbox {
        display: flex;
        align-items: center;
        margin-top: 10px;
        margin-left: 3px;

        .pass-checkbox {
            position: relative;
            width: 18px;
            height: 18px;
            border: 2px solid #5f6368;
            border-radius: 2px;
            appearance: none;
            outline: 0;
            cursor: pointer;
            transition: background 175ms cubic-bezier(0.1, 0.1, 0.25, 1);
            &:before {
                position: absolute;
                content: '';
                display: block;
                top: -1px;
                left: 4px;
                width: 6px;
                height: 12px;
                border-style: solid;
                border-color: #fff;
                border-width: 0 2px 2px 0;
                transform: rotate(45deg);
                opacity: 0;
            }
            &:checked {
                color: #fff;
                border-color: $light-blue;
                background: $light-blue;
            &:before {
                opacity: 1;
            }
            ~ label:before {
                clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
                }
            }
        }
        .pass-label {
            margin: 0;
            font-size: 14px;
            color: #202124;
            width: 100%;
            margin-left: 16px;
        }
    }
    &-footer {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;

        margin-top: 50px;
        .forget-link {
            font-family: 'Google Sans', sans-serif;
            text-decoration: none;
            font-weight: 500;
            color: $light-blue;
            font-size: 14px;
            letter-spacing: .0107142857em;
        }
    }
}

.btn {
    @include btn;
}